.btnEliminar{
    width: 22px;
    height: 22px;
    display: inline-block;
    background: url('../svg/trash.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.carritompra{
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 64vw;
    height: 8vw;
    margin-left: 18vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carritompra p, .carritompra h1{
    margin: 3vw 5vw 2vw 0;
    height: 2vw;
}
.carritompra h1{
    margin-left: 2vw;
    font-size: 1.3vw;
    width: 10vw;
}
#only{
    margin: 4vw 0 2vw 0;
    margin-left: 20vw;
}
.divImg {
    width: 8vw;
    height: 8vw;
    display:flex;
    float: left;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 10px;
}
.divImg img{
    max-height: 8vw;
    max-width: 8vw;
}