#actualizar{
    width: 30vw;
    margin: 5vw 0 0 37.5vw;
    font-family: 'Roboto Condensed', sans-serif
}
#actualizar h2{
    margin: 0;
    padding: 15px 0;
    font-size: 1.4vw;
    border-bottom: 1px solid #e6dfdf;
}
#actualizar div{padding: 15px 0}
#actualizar div label, #actualizar div p{
    font-weight: 300;
    display: inline-block;
    width: 12vw;
    line-height: 1.6vw;
    margin: 10px 2vw 10px 0;
    font-size: 1vw;
}
#actualizar div p{border-bottom: 1px solid black;}
#actualizar div input, #actualizar div select, #actualizar div select option{
    padding: 5px 0;
    text-indent: 10px;
    width: 12vw;
    font-size: 100%;
    border: 1px solid #b1acac;
    margin-right: 2vw;
    box-sizing: border-box;
    font-weight: 300;
}
#actualizar div input:focus-visible, #actualizar div select{outline: 0}
#actualizar div input[type=submit], #actualizar div button {
    display: inline-block;
    padding: 0;
    background-color: #38b673;
    border: 0;
    font-weight: 400;
    font-size: 1vw;
    color: #FFFFFF;
    cursor: pointer;
    width: 12vw;
    height: 2vw;
    line-height: 2vw;
    margin-top: 20px;
}
#actualizar div input[type="submit"]:hover, #actualizar div button:hover {background-color: #32a367}
#actualizar div input[type="checkbox"]{display: none}
#actualizar div .checkbox{position: relative}
#actualizar div textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-size: 0.9vw;
    font-weight: 300;
    height: 12vw;
    min-height: 12vw;
    max-height: 40vw;
    border: none;
    box-sizing: border-box;
    border: 2px solid rgb(179, 177, 177);
    border-radius: 3px;
    transition: border 0.5s ease;
}
#actualizar div textarea:focus-visible {
    border: 2px solid rgb(0, 0, 0);
    outline: none;
}
.checkbox:before{
    content: ' ';
    position: absolute;
    right: 0;
    border: solid 1px #9e9e9e;
    border-radius: 3px;
    width: 1.6vw;
    height: 1.6vw;
    user-select: none;
}

#actualizar div input[type="checkbox"]:checked + .checkbox:before{
    content: '✔';
    color: rgb(23, 163, 23);
    text-align: center;
    font-size: 1.3vw;
    line-height: 1.6vw;
    background-color: #aedeee;
}
#actualizar div input[type="file"]{
    display: none;
}
.labelFileSecond{border-bottom: 1px solid black}
.carritompra{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin: .2vw 0;
    width: 90%;
    height: 4vw;
    display: flex;
    align-items: center;
}
.carritompra h1 {
    width: 70%;
    font-size: 1vw;
    margin-left: .3vw;
}
.carritompra p {
    width: 15%;
}
.carritompra:first-child { 
    border: 0;
    border-bottom: 1px solid rgb(218, 218, 218);
    border-radius: 0;
    margin-bottom: .8vw;
}
.carritompra:first-child p {
    border: 0 !important;
}
#divEmergente { 
    height: 70px;
    position: fixed;
    width: 100%;
    bottom: -70px;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    line-height: 70px;
    font-size: 1.4vw;
    text-indent: 20px;
    transition: bottom .2s ease-in-out;
}
.moverDiv {
    bottom: 0 !important;
}