*{
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: rgba(250,250,250);
}
header
{
    width: 100%;
    height: 15vh;
}

header #logo
{
    width: 12vw;
    height: 6.0975vw;
    margin: calc(10vh - 3.04875vw) 0 0 40.425vw;
}
header img#carrito
{
    width: 3.85vw;
    height: 3.85vw;
    font-size: 3vw;
    float: right;
    margin-top: calc(7.5vh - 3.85vw/2);
}
header img#carrito:hover{cursor: pointer}

header #perfil a:visited{color: black}
header #perfil a:active{color: rgb(229,143,83)}
header #perfilusr img{width: 3.85vw}
header a img#perfil
{
    max-height: 15vh;
    width: 5vw;
    height: 5vw;
    float: right;
    margin: calc(7.5vh - 2.5vw) 4vw 0 4vw;
}
header #btnCat
{
    width: 4vw;
    height: 4vw;
    top: calc(7.5vh - 2vw);
    left: 4vw;
    z-index: 3;
    position: absolute;
    transition: transform 1.5s;
    user-select: none;
}
header #btnCat:hover{cursor: pointer}
div#categorias
{
    width: 35vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    margin-left: -35vw;
	transition: margin-left 1.5s;
}
div#categorias p
{
    height: 5vh;
    text-align: center;
    font-weight: 300;
    font-size: 1.8vw;
    margin: 0;
    user-select: none;
    transition: background-color .3s ease, color .3s ease;
}
div#categorias p:hover
{
    cursor: pointer;
    color: rgb(255, 255, 255);
    height: 6vh;
    font-size: 2vw;
	background-color: #ca6d2f;

}
main {
    width: 100%;
    float: left;
    min-height: calc(100vh - 20vh - 100px);
}
/* Header escritorio */

@media (min-width: 1025px){
    #btnCat{display: none}
    header div#buscador img{display: none}
    div#categorias a:nth-of-type(1) p, div#categorias a:nth-of-type(2) p{display: none;}
    #formSearch{float: left;}
    .selected{
        background-color: #D98851;
        font-weight: 400 !important;
        color: rgb(232, 232, 232);
    }
    #headerDivImg {
        width: 12vw;
        height: 100%;
        float: left;
        margin-left: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header #logo{
        margin: 0;
    }
    header div#buscador{
        width: 33vw;
        float: left;
        margin: calc(7.5vh - 1vw) 0 0 calc(32vw - 16.5vw);
    }
    header div#buscador input[type=text]{
        width: 18vw;
        height: 2vw;
        border: 0;
        float: left;
        font-weight: 300;
        font-size: 0.7vw;
        text-indent: 12px;
        padding: 0;
        outline: 1px solid rgb(231, 226, 226);
        color: rgb(34, 32, 32);
    }
    header div#buscador input[type=text]:focus{
        outline: 1px solid black;
    }
    header div#buscador #search, header div#buscador select{
        width: 4vw;
        height: 2vw;
        margin: 0;
        float: left;
        border: none;
        cursor: pointer;
        outline: 1px solid rgb(231, 226, 226);
        line-height: 2vw;
        text-align: center;
        font-size: 0.7vw;
        transition: background 0.2s ease-in;
    }
    header div#buscador #search {
        font-weight: 800;
    }
    header div#buscador select{
        width: 11vw;
    }
    header div#buscador #search:hover, header div#buscador select:hover{
        background: #D98851;
    }
    header div#carrito, header div#perfil{
        min-width: 8vw;
        float: right;
        margin: calc(7.5vh - 0.75vw) 2vw 0 0;
    }
    header div#carrito{min-width: 6vw}
    header div#carrito p, header div#perfil p{
        margin: 0;
        font-size: 0.6vw;
        font-weight: 300;
        color: rgb(112, 101, 101);
    	overflow: hidden;
    	white-space: nowrap;
	    text-overflow: ellipsis;
    }
    header div#carrito h1, header div#perfil h1{
        margin: 0;
        padding-top: 0.4vw;
        font-size: 0.8vw;
        font-weight: 400;
        float: left;
    }
    header div#carrito h1:hover, header div#perfil h1:hover{cursor: pointer;}
    header div#carrito img, header div#perfil img{
        margin: 0;
        width: 2vw;
        height: 2vw;
        float: left;
        margin-right: 10px;
    }
    div#categorias{
        width: 100%;
        height: 5vh;
        background-color: rgb(0, 0, 0, 0);
        margin-left: 0 !important;
        transition: none;
        position: relative;
        float: left;
        box-shadow: 0 1px 1px orange;
    }
    div#categorias a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    div#categorias p{
        display: inline-block;
        font-weight: 300;
        font-size: 1vw;
        line-height: 5vh;
        height: 5vh;
        padding: 0 15px;
    }
    div#categorias p:hover{
        height: 5vh;
        font-size: 1vw;
        background-color: #D98851;
    }
    div#categorias a:nth-of-type(3){
        margin: 0 0 0 calc(4vw - 15px);
    }
    div#categorias p:first-of-type{margin-top: 0}
}

 

/* Header movil */

@media (max-width: 1024px){
    header {
        height: 35vw;
        float: left;
    }
    header #btnCat {
        width: 9.5vw;
        height: 9.5vw;
    }
    #slidervista {margin-top: 2vw}
    header #headerDivImg a {
        width: 40vw;
        position: relative;
        height: fit-content;
        float: left;
        margin: 4vw 0 0 30vw;
    }
    header #headerDivImg img {margin: 0}
    header #formSearch select {display: none}
    header #logo {
        width: 40vw;
        position: relative;
        height: auto;
        margin: 4vw 0 0 30vw;
    }
    header div#buscador {
        width: 90vw;
        height: fit-content;
        margin-left: 5vw;
        float: left;
        margin-top: 2vw;
    }
    header div#buscador p:first-of-type {display: none}
    header #formSearch #search {display: none}
    header #formSearch #forSearch {
        float: left;
        width: 8vw;
        height: 8vw;
        border: none;
        outline: 1px solid rgb(231, 226, 226);
        background: url(../img/lupa.png) center;
        background-size: 90%;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
    header div#buscador input[type=text] {
        width: 82vw;
        height: 8vw;
        border: 0;
        float: left;
        font-weight: 300;
        font-size: 100%;
        text-indent: 12px;
        padding: 0;
        outline: 1px solid rgb(231, 226, 226);
        color: rgb(34, 32, 32);
    }
    header div#buscador input[type=text]:focus {
        outline: 1px solid black;
    }
    header div#buscador p {display: none}
    header div#buscador img {
        width: 5vw;
        height: 5vw;
        float: left;
        padding: 1vw;
        outline: 1px solid rgb(231, 226, 226);
    }
    header div#carrito, header div#perfil{display: none}
    div#categorias {
        width: 100%;
        top: 0;
        margin-left: -100%;
        background-color: #D98851;
    }
    div#categorias a {
        text-decoration: none;
        text-align: center;
    }
    div#categorias p:first-of-type{
        margin: 0;
    }
    div#categorias p {
        font-size: 8vw;
        height: 6vh;
        color: #000;
    }
    div#categorias p:hover {
        height: 6vh;
        font-size: 8vw;
    }

    div#categorias a:nth-of-type(1) p {
        margin-top: 12vh;
    }
    div#categorias a:nth-of-type(2) p {
        margin-bottom: 20vh;
    }
    div#categorias a:nth-of-type(1) p, div#categorias a:nth-of-type(2) p {font-weight: 600;}

} 