@keyframes slideruno
{
    0%{left: 0%;}
    10%{left: 0%;}
    12.5%{left: -50%;}
    22.5%{left: -50%;}
    25%{left: -100%;}
    35%{left: -100%;}
    37.5%{left: -150%;}
    47.5%{left: -150%;}
    50%{left: -200%;}
    60%{left: -200%;}
    62.5%{left: -250%;}
    72.5%{left: -250%;}
    75%{left: -300%;}
    85%{left: -300%;}
    87.5%{left: -350%;}
    97.5%{left: -350%;}
    100%{left: -400%;}
}
@keyframes slidermovil
{
    0%{left: 0%;}
    10%{left: 0%;}
    12.5%{left: -100%;}
    22.5%{left: -100%;}
    25%{left: -200%;}
    35%{left: -200%;}
    37.5%{left: -300%;}
    47.5%{left: -300%;}
    50%{left: -400%;}
    60%{left: -400%;}
    62.5%{left: -500%;}
    72.5%{left: -500%;}
    75%{left: -600%;}
    85%{left: -600%;}
    87.5%{left: -700%;}
    97.5%{left: -700%;}
    100%{left: -800%;}
}


#slidervista, #slidercontenido img{
    width: 50vw;
    height: 28.125vw;
    float: left;
    overflow: hidden;
}
#slidervista{width: 100%}
#slidercontenido
{
    width: 550vw;
    height: 28.125vw;
    margin: 0 0 0 -25vw;
    animation: 80s slideruno infinite;
    position: relative;
}

#section1
{
    width: 100%;
    height: 13vw;
    display: inline-block;
}
#section1 img:first-of-type{margin-left: 4vw ;}
#section1 img
{
    width: 30vw;
    height: 9.85vw;
    margin: 3vw 0 0 1vw;
}

#section2
{
    width: 100%;
    height: fit-content;
    display: inline-block;
}
#section2 h1, #section3 h1
{
    margin: 3vw 0 0 4vw;
    width: 30vw;
    height: fit-content;
}
#section2 .articulos
{
    width: 30vw;
    height: auto;
    float: left;
    margin: 3vw 0 0 1vw;

    outline: 1px solid black;/*Temporal*/
}
#section2 .articulos:first-of-type{margin-left: 4vw}
#section2 .articulos img{
    width: 30vw;
    height: 30vw;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
#section2 .articulos a{
    border: none;
    outline: 2px solid black;
    height: 3vw;
    width: 50%;
    margin: 2vw 0 3vw 25%;
    background-color: #D98851;
    color: black;
    line-height: 3vw;
    text-decoration: none;
    text-align: center;
    float: left;
    font-size: 1vw;
}
#section2 .articulos h1{
    font-size: 1.6vw;
    margin: 0;
}
#section2 .articulos p{
    font-size: 1vw;
    margin: 2vw 0;
}

#section3
{
    width: 100%;
    height: fit-content; 
}

#section3 .articulos2:first-of-type{margin-left: 4vw}
#section3 .articulos2:last-of-type{display: none}
#section3 .articulos2
{
    width: 17.6vw;
    height: auto;
    float: left;
    margin: 3vw 0 0 1vw;


    outline: 1px solid black;/*Temporal*/
}
#section3 .articulos2 img{
    width: 17.6vw;
    height: 17.6vw;
}
#section3 .articulos2 h1{
    font-size: 1.6vw;
    width: fit-content;
}
@media (max-width: 700px) AND (orientation: portrait)
{
    
    figure#slidercontenido img
    {
        width: 100vw;
    }
    figure#slidercontenido
    {
        width: 1100vw;
        margin-left: 0vw;
        animation: 80s slidermovil infinite;
    }
    div#slidervista, figure#slidercontenido img, #slidercontenido
    {
        height: 56.25vw;
        margin-top: 3vw;
    }
    
    div#section1{display: none}

    div#section2
    {
        height: fit-content;
    }
    div#section2 h1, #section3 h1
    {
        margin: 3vw 0 0 32.5vw;
        width: 35vw;
        height: fit-content;
    }
    div#section2 .articulos:first-of-type{margin-left: 15vw}

    div#section2 .articulos
    {
        width: 70vw;
        margin: 3vw 0 0 15vw;
    }
    div#section2 .articulos img{
        width: 70vw;
        height: 70vw;
    }
    div#section2 .articulos a{
        height: 5vw;
        line-height: 5vw;
        font-size: 5vw;
        outline: none;
    }
    div#section2 .articulos p{
        font-size: 5vw;
        margin: 3vw 0 3vw 5%;
    }
    div#section2 .articulos h1{
        /* font: ; */
        font-size: 5vw;
        line-height: 5vw;
        height: 5vw;
        margin: 3vw 0 3vw 5%;
    }
    
    div#section2 .articulos:last-of-type{display: none}
    div#section3 .articulos2:last-of-type{display: inline-block}
    div#section3 .articulos2:first-of-type{margin-left: 4vw}
    div#section3 .articulos2{
        width: 44vw;
        height: auto;
        float: left;
        margin-left: 4vw;
    }
    div#section3 .articulos2 img{
        width: 44vw;
        height: 44vw;
    }
    div#section3 .articulos2 h1{
        font-size: 5vw;
        margin: 2vw 0 0 5%;
    }
    div#section3 .articulos2 a{
        outline: 2px solid black;
        height: 6vw;
        width: 80%;
        margin: 2vw 0 5vw 10%;
        background-color: #D98851;
        color: black;
        line-height: 6vw;
        text-decoration: none;
        text-align: center;
        float: left;
        outline: none;
    }
    div#section3 .articulos2 p{
        font-size: 4.5vw;
        margin: 3vw 0 3vw 5%;
    }
}

