*{font-family: 'Roboto Condensed', sans-serif;box-sizing: border-box;}
body{margin: 0; padding: 0;background-color: rgba(255,175,101,1);}
#loginDerecha {
    width: 67%;
    height: 100vh;
    float: right;
    position: relative;
    background: radial-gradient(circle, rgba(197,115,68,1) 30%, rgba(229,143,83,1) 70%, rgba(255,175,101,1) 100%);
}
#loginDerecha form{
    width: 25vw;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loginDerecha form label, #loginDerecha form input {
    width: 100%;
    height: 1.7vw;
    line-height: 1.7vw;
    font-size: 16px;
    margin: 5px 0;
}
#loginDerecha form label {
    display: block;
    text-align: left;
    font-weight: 400;
    font-size: 28px;
}
#loginDerecha form input{
    text-indent: 10px;
    height: 1.8vw;
    line-height: 1.8vw;
}
#loginDerecha form input:focus-visible{outline: 0}
.btnLogin{
    width: 45%;
    height: 1.6vw;
    float: right;
    margin-top: 30px;
    font-size: 90%;
    border: 0;
    line-height: 1.6vw;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(239, 239, 239);
    outline: 1px solid rgb(231, 226, 226);
    text-align: center;
    text-decoration: none;
    color: rgb(118, 118, 118);
    user-select: none;
}
.btnLogin:hover{
    transition: 350ms ease all;
    cursor: pointer;
    background-color: rgb(120, 120, 120);
    outline-color: rgb(120, 120, 120);
    color: white;
}
.btnLoginA{float: left}
#divEmergente { 
    height: 70px;
    position: fixed;
    width: 100%;
    bottom: -70px;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    line-height: 70px;
    font-size: 1.4vw;
    text-indent: 20px;
    transition: bottom .2s ease-in-out;
}
.moverDiv {
    bottom: 0 !important;
}

@media (max-width: 1024px){
    #loginDerecha{
        width: 100%;    
        display: inline-block;
        height: calc(100vh - 30vw);
    }
    #loginDerecha form{
        position: relative;
        float: left;
        width: 100%;
        height: max-content;
    }
    #loginDerecha form label{font-size: 22px}
    #loginDerecha form input, #loginDerecha form select{font-size: 15px}
    #loginDerecha form label, #loginDerecha form input{
        width: 80%;
        margin: 2vw 10%;
        height: 6vw;
        line-height: 6vw;
    }   
    #loginDerecha form button:last-of-type,#loginDerecha form a{
        float: left;
        width: 40%;
        margin: 6vw 30% 0;
        font-size: 100%;
        height: 4vh;
        padding: 0;
    }
    #loginDerecha form a{line-height: 4vh;}
}