main{
    display: inline-block;
    min-height: calc(100vh - 100px - 20vh);
}
#section1{
    width: 100%;
    height: fit-content;
    display: inline-block;
}
#section1 .articulos1{
	float: left;
    width: 14vw;
    margin: 3vw 0 0 1vw;
    border: 1px solid lightgrey;/*Temporal*/
	box-sizing: border-box;
	border-radius: 5px;
}
.title{	
    width: fit-content;
    height: 2vw;
    margin: 2vw 0 1vw 5.5vw;
}
div#section1 .articulos1:first-of-type{margin-left: 5.5vw}
div#section1 .articulos1:nth-of-type(7){margin-left: 5.5vw}

.articulos1 h1{
	font-size: 1vw;
	margin: 0 0 0.6vw;
	margin-left: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 90%;
}
.articulos1 p{
	font-size: 0.9vw;
	margin: 0 0 10px;
	margin-left: 5px;
}
.articulos1 a{
	border: none;
	width: 80%;
	margin: 1vw  0  1vw 10%;
	height: 2vw;
	background-color: #D98851;
	color: black;
	line-height: 2vw;
	text-decoration: none;
	text-align: center;
	float: left;
}
.articulos1 a:hover{
	color: white;
	background-color: #ca6d2f;
}
.articulos1 .imgDiv img{
    width: 99%;
    max-height: 20vw;
}
.articulos1 div.imgDiv{
    width: 100%;
    height: 20vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
#popup{
	display: none;
	width: 40vw;
	height: 40vw;
	background-color: black;
	z-index: 3;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#popup img{
	width: 100%;
	height: calc(40vw / 1.7777777777);
}
#popup h1{
	color: white;
	font-size: 1.3vw;
	margin-left: 5px;
}
#popup p{
	float: right;
	width: 25vw;
	height: 6vw;
	color: white;
	font-size: 1.2vw;
	margin-left: 5px;
}
@media (max-width: 875px){
	.title{
		height: fit-content;
		margin: 10vw 0 3vw 5.5vw;
	}
	#section1 .articulos1{
		width: 41vw;
		height: 68vw;
		margin: 3vw 0 2vw 6vw;
	}
	.articulos1{
		width: 41vw;
		height: 60vw;
		margin: 3vw 0 2vw 6vw;
	}
	.articulos1 a{
		height: 4vw;
		line-height: 4vw;
	}
	.articulos1 p{
		font-size: 3vw;
	}
	.articulos1 h1{font-size: 4vw;}
	.articulos1 .imgDiv img{max-height: 41vw;}
	.articulos1 div.imgDiv{height: 41vw;}
}