body
{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}
#encargado
{
    width: 85%;
    height: auto;
    margin-left: 7.5%;
    margin-top: 3vw;
    float: left;
    /* outline: 1px solid black; */
}
#encargado h1{
    height: 60px;
    margin: 0;
    line-height: 60px;
    outline: 1px solid black;
}

.productosEncargado div
{
    width: 100%;
    height: 100px;
    padding: 10px 0;
    outline: 1px solid black;

}
.productosEncargado div .imgproducto
{
    width: 100px;
    height: 100px;
    float: left;
}
.productosEncargado div h3{
    margin: 0;
    display: inline-block;
    font-size: 1vw;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
}

.productosEncargado div h3:nth-child(2)
{
    margin: 10px 0 0 20px;
}
.productosEncargado div h3:nth-child(4)
{
    margin: 15px 0 0 20px;
}

.productosEncargado div h3:nth-child(5),
.productosEncargado div h3:nth-child(6),
.productosEncargado div h3:nth-child(7)
{
    float: right;   
    margin-top: 15px;
    margin-right: 40px;
}

.productosEncargado div h3:nth-child(5)
{
    border: 2px solid grey;     
    width: 30px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: lightgrey;
    border-radius: 10px;
    user-select: none;
}
.productosEncargado div h3:nth-child(5):hover{
    background-color: lightslategrey;
    cursor: pointer;    
}